@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Intel;
  src: url('/font/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: IntelBold;
  src: url('/Inter/static/Inter-Bold.ttf');
}

* {
  font-family: Intel;
}

.bg-gradient {
  background: linear-gradient(90deg, #233c68 0%, #0057ff 46.35%, #3af2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: IntelBold;
}

.slideshow-text {
  animation: slider 100s ease-in-out infinite alternate;
}

.blur-edges {
  /* -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  /* -webkit-mask-image: radial-gradient(circle at top left, transparent 50%, rgba(0, 0, 0, 1) 70%);
  mask-image: radial-gradient(circle at top left, transparent 50%, rgba(0, 0, 0, 1) 70%); */
  /* -webkit-mask-image: radial-gradient(circle closest-side at 0% 0%, transparent, rgba(0, 0, 0, 1));
  mask-image: radial-gradient(circle closest-side at 0% 0%, transparent, rgba(0, 0, 0, 1)); */
  -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      transparent 50%
    ),
    linear-gradient(to top, rgba(0, 0, 0, 1), transparent 50%);
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), transparent 50%),
    linear-gradient(to top, rgba(0, 0, 0, 1), transparent 50%);
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-1000%);
  }
}

html,
body,
:root {
  height: 100%;
  width: 100%;
}

footer {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;
}
.input {
  border-radius: 24px;
  box-shadow: 0px 4px 28px rgba(2, 92, 255, 0.19);
}

.morphism {
  background: radial-gradient(
    100% 2558.19% at 0% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.14) 100%
  );
  border: 2px solid #ffffff;
}

.about-person-card {
  background: radial-gradient(
    100% 2558.19% at 0% 50%,
    rgba(100, 235, 243, 0.4) 0%,
    rgba(0, 163, 255, 0.62) 100%
  );
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 28px 4px rgba(2, 92, 255, 0.19);
  backdrop-filter: blur(21px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 27px;
}
