@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Intel;
  src: url("/font/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: IntelBold;
  src: url("/Inter/static/Inter-Bold.ttf");
}

* {
  font-family: Intel;
}

.bg-gradient {
  background: linear-gradient(90deg, #233C68 0%, #0057FF 46.35%, #3AF2FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: IntelBold;
}

.slideshow-text {
  animation: slider 100s ease-in-out infinite alternate;
}

.blurred-image {
  background-image: url('/public/images/affiliates.png');
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0 0 80px 80px white inset; */
  box-shadow: 200px 200px 200px 0 #F2F4F7 inset;
}

.blurred-image2 {
  background-image: url('/public/images/about.png');
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0 0 80px 80px white inset; */
  box-shadow: 200px 200px 200px 0 #F2F4F7 inset;
}

.blurred-image3 {
  background-image: url('/public/images/contact-us.png');
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0 0 80px 80px white inset; */
  box-shadow: 200px 200px 200px 0 #F2F4F7 inset;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-1000%);
  }
}

html,
body,
:root {
  height: 100%;
  width: 100%;
}

footer {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;
}

.input {
  border-radius: 24px;
  box-shadow: 0px 4px 28px rgba(2, 92, 255, 0.19);
}

.morphism {
  background: radial-gradient(100% 2558.19% at 0% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.14) 100%);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 28px rgba(2, 92, 255, 0.19);
  backdrop-filter: blur(21px);
  border-radius: 21px;
}

.about-person-card {
  background: radial-gradient(100% 2558.19% at 0% 50%, rgba(100, 235, 243, 0.4) 0%, rgba(0, 163, 255, 0.62) 100%);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 28px 4px rgba(2, 92, 255, 0.19);
  backdrop-filter: blur(21px);
  border-radius: 27px;
}

.empower{
  background-image: url("/images/empower.png");
  background-repeat: no-repeat;
  background-size:cover ;
}

.about{
  background-image: url("/images/aboutbg.png");
  background-repeat: no-repeat;
  background-size:cover ;
}
.contact{
  background-image: url("/images/contactusbg.png");
  background-repeat: no-repeat;
  background-size:cover ;
}
.affiliates{
  background-image: url("/images/affiliatesbg.png");
  background-repeat: no-repeat;
  background-size:cover ;
}
